
{% extends 'layouts/base.html.twig' %}

{% block title %}{{ pin.title }}{% endblock %}

{% block body %}
    <article>
        <h1>
            {{ pin.title }}
        </h1>
        <p>
            {{ pin.description }}
        </p>
    </article>
    <a href="{{ path('edit_pin', {id: pin.id}) }}">Edit pin</a>
    <a href="#" onclick="event.preventDefault(); confirm('Are you sure to delete this ?') && document.getElementById('js-pin-delete').submit();">Delete</a>
    <a href="{{ path('home') }}">Go back</a>

    <form id="js-pin-delete" action="{{ path('delete_pin', {id: pin.id}) }}" method="post" style="display: none;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion' ~ pin.id) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}
